PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://Admin:1234@ac-yvfnjr5-shard-00-00.dwpfwct.mongodb.net:27017,ac-yvfnjr5-shard-00-01.dwpfwct.mongodb.net:27017,ac-yvfnjr5-shard-00-02.dwpfwct.mongodb.net:27017/?ssl=true&replicaSet=atlas-124nm2-shard-0&authSource=admin&appName=Cluster0
JWT_ACCESS_SECRET=your_super_secret_access_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
